<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body class="detail-page">
    <div class="detail-container">
        <div class="detail-header">
            <div class="detail-year">ГОД НАЧАЛА: {{.Year}}г.</div>
            <a href="/anomalies" class="close-button">
                <img src="http://127.0.0.1:9000/images/img/close-b.jpg" alt="Закрыть">
            </a>
        </div>
        
        <h1 class="detail-title">{{.Name}}</h1>
        
        <img src="{{.Image}}" alt="{{.Name}}" class="detail-image">
        
        <div class="detail-info-block">
            {{.Description}}
        </div>
    </div>
</body>
</html>